# Broken / junk directories
data/modelling BROKEN/
notebooks/OLD/

# Data files
*.csv
*.xlsx

# Python
__pycache__/
*.pyc

# OS / IDE
.DS_Store
.spyderproject

# Large data files
data/raw/
data/modelling/

# CSV & data formats
*.csv
*.parquet
*.feather
*.pkl